@{
    ViewBag.Title = "About";
}
<h3>Расчеты для норм определения категорий помещений, зданий и наружных установок по взрывопожарной и пожарной опасности </h3>

<p>Расчеты выполнены согласно <strong>НАПБ Б.03.002-2007</strong></p>

<div>
    <h4>Информационные данные:</h4>
    <p>
        1. РАЗРАБОТАНЫ Украинским научно-исследовательским институтом пожарной безопасности (УкрНИИПБ) МЧС Украины(Н.Я. Откидач, А.А. Сизиков, В.С. Куликовский, В.Ф. Слепченко) с участием Института государственного управления в сфере гражданской защиты МЧС Украины (Н.В. Белошицкий) и Главного Управления МЧС Украины в Одесской области (К.П. Чеботаев).
    </p>
    <p>
        2. ВНЕСЕНЫ: ГОСПОЖБЕЗОПАСНОСТИ МЧС УКРАИНЫ.
    </p>
    <p>
        3. СОГЛАСОВАНЫ  С  ГОСПОЖБЕЗОПАСНОСТИ  МЧС  УКРАИНЫ, МИНИСТЕРСТВОМ  РЕГИОНАЛЬНОГО  РАЗВИТИЯ  И  СТРОИТЕЛЬСТВА  УКРАИНЫ, ГОСУДАРСТВЕННЫМ  КОМИТЕТОМ  УКРАИНЫ  ПРОМЫШЛЕННОЙ  БЕЗОПАСНОСТИ,  ОХРАНЫ  ТРУДА  И  ГОРНОГО  НАДЗОРА
    </p>
    <p>
        4. УТВЕРЖДЕНО И ВВЕДЕНО В ДЕЙСТВИЕ приказом Министерства Украины по вопросам чрезвычайных ситуаций и делам защиты населения от последствий Чернобыльской катастрофы от 3 декабря 2007 года № 833
    </p>
    <p>
        5. ВВЕДЕНО ВПЕРВЫЕ.
    </p>
    <p>
        6. ДОПОЛНИТЕЛЬНЫЕ СВЕДЕНИЯ С введением в действие этих Норм не применяется на территории Украины НАПБ Б.07.005-86 Определение категорий помещений и зданий по взрывопожарной и пожарной опасности (ОНТП 24-86).
    </p>
</div>
