@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Расчеты определения категорий по взрывопожарной и пожарной опасности</h2>

    <div class="row">
        <div class="col-md-4">
            <p><a href="/OCWFlamGas/Index" class="btn btn-primary btn-sm">Избыточное давления взрыва для ГГ (С, Н, О, N, CI, Br, I, F)</a></p>
        </div>

        <div class="col-md-4 col-md-offset-1">
            <p><a href="/OCWFlamLiq/Index" class="btn btn-primary btn-sm">Избыточное давления взрыва для ЛВЖ и ГЖ (С, Н, О, N, CI, Br, I, F)</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><a href="/OCFlamGas/Index" class="btn btn-primary btn-sm">Избыточное давления взрыва для ГГ</a></p>
        </div>

        <div class="col-md-4 col-md-offset-1">
            <p><a href="/OCFlamLiq/Index" class="btn btn-primary btn-sm">Избыточное давления взрыва для ЛВЖ и ГЖ</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><a href="/OCCombDust/Index" class="btn btn-primary btn-sm">Избыточное давления взрыва для горючей пыли</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><a href="/FireLoad/Index" class="btn btn-primary btn-sm">Пожарная нагрузка</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p><a href="/TRIFireBall/Index" class="btn btn-primary btn-sm">Интенсивности теплового излучения "огненного шара"</a></p>
        </div>

        <div class="col-md-4 col-md-offset-1">
            <p><a href="/TRIFlamLiq/Index" class="btn btn-primary btn-sm">Интенсивности теплового излучения горения ЛВЖ и ГЖ</a></p>
        </div>
    </div>

</div>